@charset "utf-8";
/* ----------------
	公共样式开始
----------------- */
/*长页面滚轮*/
html,body,
.swiper-container,
.swiper-slide,
.swiper-wrapper {
	width: 100%;
	height: 100%;
}
.page-L {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.page-L::-webkit-scrollbar {
	display: none;
}
.fl{float: left;}
.fr{float: right;}
img{display: block;margin: 0 auto;}
