@charset "utf-8";

/* ----------------
	less配置开始
----------------- */
/* ----------------
	less配置结束
----------------- */
/* ----------------
	公共样式开始
----------------- */

//去除ios点击div高亮
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*长页面滚轮*/
html,
body,
.swiper-container,
.swiper-slide,
.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-container,
.swiper-slide,
.swiper-wrapper {
  width: 100%;
  height: auto;
}

.page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page-L {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.page-L::-webkit-scrollbar {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  display: block;
  margin: 0 auto;
}

/* clear float */
.clear,
.clearfix:after {
  clear: both;
}

.clear,
.clearfix:before,
.clearfix:after {
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '';
}

.clearfix {
  *zoom: 1;
}

/* ----------------
	公共样式结束
----------------- */
.bbox {
  box-sizing: border-box;
}

.p814 {
  padding: 0.25rem 0.4375rem;
}

#page1 {
  background: url(../images/bg1.png) no-repeat;
  background-size: 100% 100%;
  > img {
    width: 12.75rem;
    height: 6.9375rem;
    top: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  > a {
    display: block;
    width: 18rem;
    height: 4.5rem;
    background: url(../images/a.png) no-repeat;
    background-size: 100% 100%;
    bottom: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-40%, 0);
  }
}
#listPage {
  box-sizing: border-box;
  background: #f5f7f9;
  background-size: 100% 100%;
  width: 100%;
  padding: 0 0.375rem;
  > .banner {
    background: url(../images/page1-banner.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 7.875rem;
  }

  > .tabs {
    background: url(../images/page1-box.png) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 4.9375rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
    margin: 0.1563rem 0 0.5rem;
    box-shadow: 0.125rem -0.125rem 0.25rem 0rem rgba(205, 205, 205, 0.5);
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 0.0625rem;
      height: 2.125rem;
      background: #dfdfdf;
      border-radius: 0.0313rem;
    }
    > div {
      padding-left: 2.0625rem;
      background: url(../images/weiwancheng.png) no-repeat;
      background-size: 1.4375rem 1.625rem;
      background-position: 0 50%;
      > p:nth-child(1) {
        font-size: 1rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #d74430;
        line-height: 1.375rem;
        > span {
          font-size: 0.625rem;
        }
      }
      > p:nth-child(2) {
        font-size: 0.75rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #959595;
        line-height: 1.375rem;
      }
    }
    > div:nth-child(2) {
      background: url(../images/yiwancheng.png) no-repeat;
      background-size: 1.4375rem 1.625rem;
      background-position: 0 50%;
    }

    &.listed-tabs {
      > div:nth-child(1) {
        background-image: url(../images/weiwanchenged.png);
      }
      > div:nth-child(2) {
        background-image: url(../images/yiwanchenged.png);
      }
    }
  }
  > .box {
    width: 100%;
    background: #ffffff;
    box-shadow: 0.125rem -0.125rem 0.25rem 0rem rgba(205, 205, 205, 0.5);
    border-radius: 0.375rem;
    overflow: hidden;
    box-sizing: border-box;

    > .select-box {
      width: 100%;
      height: 2.5625rem;
      background: #f5f9fa;
      display: flex;
      align-items: center;
      > div {
        width: 0.0625rem;
        height: 0.5625rem;
        background: #c8c8c8;
        margin: 0 0.625rem;
      }
    }

    > ul {
      width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      > li {
        width: 100%;
        display: flex;
        margin: 0.5rem 0;
        &.notfirst {
          display: none;
        }
        &.loadmore {
          text-align: center;
          justify-content: center;
          font-size: 0.6875rem;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #000000;
          line-height: 1.375rem;

          &::after {
            content: '';
            display: block;
            width: 0.3125rem;
            height: 0.3125rem;
            border-left: 0.0313rem solid #000;
            border-top: 0.0313rem solid #000;
            transform: rotate(-135deg);
            margin-top: 0.3125rem;
            margin-left: 0.3125rem;
          }
        }

        > div:nth-child(1) {
          flex: 0 0 4.625rem;
          text-align: center;
          font-size: 0.875rem;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: bold;
          color: #000000;
          line-height: 1.375rem;
          box-sizing: border-box;
          padding: 0.9375rem 0 0.625rem;
        }

        > div:nth-child(2),
        > a:nth-child(2) {
          flex: 1;
          height: 4.5625rem;
          background: #f5f9fa;
          border-radius: 0.1875rem;
          box-sizing: border-box;
          padding: 0.9375rem 1.375rem 0.625rem;

          > h3 {
            font-size: 0.75rem;
            font-family: PingFangSC-Regular, PingFang SC;
            color: #1a1a1a;
            line-height: 1.375rem;
          }
          > p {
            font-size: 0.6875rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #959595;
            line-height: 1.375rem;
            > span {
              font-size: 0.75rem;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 500;
              color: #d74430;
              line-height: 1.0625rem;
              padding-left: 0.625rem;
              > span {
                font-size: 0.625rem;
              }
            }
          }
        }

        &.itemed > a:nth-child(2) {
          background: url(../images/water.png) no-repeat;
          background-color: #f5f9fa;
          background-size: 3.125rem auto;
          background-position: 100% 100%;
        }
      }
    }
  }
}

#twon,
#street {
  border: none;
  background: transparent;
  box-sizing: border-box;
  padding: 0 0.625rem;
  margin-right: 0.625rem;
  height: 1.375rem;
  font-size: 0.6875rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #5e5e5e;
  line-height: 1.375rem;
  outline: none;
}

.progress {
  display: flex;
  margin: 0.9375rem 0;
  align-items: center;
  height: 1.375rem;
  background-color: #7db0ed;
  border-radius: 0.6875rem;
  border: 0.0625rem solid #1e518f;
  box-sizing: border-box;
  padding: 0.3125rem 0;

  > img {
    height: 2.125rem;
    flex: 0 0 2.125rem;
    margin-left: -0.3125rem;
  }

  > .progress-pipe {
    flex: 1;
    height: 100%;
    background: #ffffff;
    border-radius: 0.3438rem;
    margin: 0 0.4375rem;
    position: relative;

    &::after {
      content: attr(data-value);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #1e518f;
      font-size: 1rem;
    }

    > .progress-bar {
      height: 100%;
      background: #d8eaff;
      border-radius: 0.3438rem;
      overflow: hidden;
    }
  }
}

#page2 {
  background: #ececec;
  position: relative;
  //
  > .tabs {
    width: 23.4375rem;
    height: 2.0625rem;
    line-height: 2.0625rem;
    margin: 0.5rem 0;
    background: #ffffff;
    box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(133, 133, 133, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.75rem;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #9d9d9d;
    > .active {
      font-weight: 600;
      color: #000000;
      box-sizing: border-box;
      border-bottom: 0.1875rem solid #007cff;
    }
  }
  > .banner {
    width: 100%;
    height: auto;

    > img {
      width: 100%;
      height: auto;
    }

    > .banner-box {
      background: #ffffff;
      border-top-left-radius: 1.3125rem;
      border-top-right-radius: 1.3125rem;
      height: 7.1875rem;
      margin-top: -1.3125rem;
      z-index: 10;
      position: relative;
      box-sizing: border-box;
      padding: 0.875rem 1.9375rem;

      > h5 {
        font-size: 0.875rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #000000;
        line-height: 0.875rem;
      }

      > .message {
        display: flex;
        justify-content: space-between;
        height: 0.875rem;
        font-size: 0.625rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #9d9d9d;
        line-height: 0.875rem;
      }

      > img {
        width: 6.5rem;
        height: 1.75rem;
        margin-top: 1.5625rem;
      }
    }
  }
  > .tab-panel {
    background-color: #fff;
    padding: 1.375rem 2.375rem 4.9375rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
    display: none;
    &.tab2 {
      > h3 {
        height: 1.375rem;
        font-size: 1rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 700;
        color: #000000;
        line-height: 1.375rem;
        margin-bottom: 0.4375rem;
      }
      > p {
        font-size: 0.75rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #000000;
        line-height: 1.1875rem;
      }
      > div {
        line-height: 1.375rem;
        font-size: 0.75rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #7b7b7b;
        line-height: 1.375rem;
        display: flex;
        justify-content: space-between;

        > div {
          flex: 0 0 49%;
          > img {
            width: 100%;
            height: auto;
          }
        }
        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .introduce-common {
    margin-top: 0.5rem;
    background-color: #fff;
    padding: 1.375rem 2.375rem 4.9375rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 0;
    display: none;
    > p {
      font-size: 0.75rem;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #000000;
      line-height: 1.375rem;
      text-indent: 2em;
      line-height: 1.8;
      margin: 0.5rem 0;
      text-align: justify;
    }

    > img {
      width: 100%;
      margin: 0.5rem 0;
    }
  }
}

.bottom-box {
  position: absolute;
  width: 100%;
  height: 3.1875rem;
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 10;

  > div {
    width: 100%;
    height: 3.1875rem;
    background: #e6432f;
    // border-radius: 1.5625rem;
    font-size: 1rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #ffffff;
    line-height: 2.8125rem;
    text-align: center;
  }
}

#look {
  padding: 1.3125rem 1rem;
  box-sizing: border-box;
  background: #f0f2f4;
  > .mian-box {
    width: 100%;
    height: 100%;
    background: rgba(249, 180, 76, 0.68);
    border-radius: 0.0625rem;
    border: 0.0625rem solid #2a2a2a;
    box-sizing: border-box;
    padding: 0.9375rem 0.75rem;
    > .title-box {
      height: 6.5625rem;
      background: #ffffff;
      border-radius: 0.0625rem;
      border: 0.0625rem solid #2a2a2a;
      padding: 1.375rem 1.0625rem;
      box-sizing: border-box;
      font-size: 0.875rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #000000;
      line-height: 1.375rem;
      background: url(../images/watera.png) no-repeat;
      background-color: #ffffff;
      background-size: 3.75rem auto;
      background-position: 90% 70%;
      > h3 {
        margin: 0.3125rem 0;
      }
    }

    > .content-box {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 0.0625rem;
      border: 0.0625rem solid #2a2a2a;
      padding: 1.375rem 1.0625rem;
      box-sizing: border-box;
      margin-top: 0.5rem;
      min-height: calc(~'100% - 6.875rem');
      > h3 {
        font-size: 0.875rem;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #1a1a1a;
        line-height: 1.1875rem;
      }

      > p {
        font-size: 0.75rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #1a1a1a;
        line-height: 1.375rem;
        margin: 0.8125rem 0 0.5rem;
      }

      > div {
        display: flex;
        justify-content: space-between;

        > div {
          flex: 0 0 48%;
          > img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
#page3 {
  background: #f0f2f4;

  > .banner-box {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > .content-box {
      background: url(../images/title.png) no-repeat;
      background-size: 100% 100%;
      width: 21.625rem;
      height: 5.875rem;
      box-sizing: border-box;
      padding: 2.6875rem 0 0 1.9375rem;
      font-size: 0.875rem;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
      color: #1a1a1a;
      line-height: 1.1875rem;
    }
  }

  .label-text {
    height: 1rem;
    font-size: 0.875rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #606060;
    line-height: 1rem;
    padding: 0 1.375rem;
  }

  .form-control {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1.375rem;
    align-items: flex-end;
    flex-wrap: wrap;

    > .radio-item {
      flex: 0 0 6.25rem;
      width: 6.25rem;
      height: 2.75rem;
      margin: 0.5938rem 0;

      > input {
        display: none;
      }

      > .radio-symbol {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 1rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #707070;
        background: #f6f6f6;
        border: 0.0625rem solid #b4beca;

        i {
          font-style: normal;
        }
      }

      > input:checked + .radio-symbol {
        background: #d8eaff;
        border: 0.0625rem solid #1e518f;
        color: #1e518f;
      }
    }
  }

  > form {
    overflow: hidden;
    display: block;
    background-color: #fff;
    padding: 0.625rem 0 0 0;
    > .showmoney {
      width: 22.5625rem;
      height: 4.0625rem;
      margin: 0 auto;
      text-align: center;
      background: url(../images/page1-box.png) no-repeat;
      background-size: 100% 100%;
      padding-top: 0.8125rem;
      box-sizing: border-box;
      > p {
        font-size: 1.25rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 700;
        color: #d74430;
        line-height: 1.75rem;
        >span{
            font-size: 0.625rem; 
            padding-left: 0.1563rem;
        }
      }
      > div {
        font-size: 0.75rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #606060;
        line-height: 1rem;
      }
    }
  }

  .margin20 {
    margin-top: 1.25rem;
  }

  .input-control1 {
    background-size: 100% auto;
    background-position: 0 100%;
    padding: 1.125rem 1.5625rem 0.3125rem;
    color: #606060;
    textarea {
      width: 100%;
      height: 4.75rem;
      background: #ffffff;
      border: 0.0625rem solid #b4beca;
      margin-top: 0.5625rem;
      color: #9a9a9a;
    }
    > .required::after {
      content: ' *';
      color: #ff0000;
    }

    > .diymoney-label {
      display: block;
      width: 100%;
      height: 1rem;
      font-size: 0.875rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #606060;
      line-height: 1rem;

      &.receipt-hook {
        display: none;
      }
    }

    > .diymoeny-value {
      display: flex;
      align-items: center;
      width: 20.75rem;
      height: 2.75rem;
      background: #f6f6f6;
      border: 0.0625rem solid #b4beca;
      margin-top: 0.5625rem;
      box-sizing: border-box;
      padding: 0 0.4688rem;

      &.receipt-hook {
        display: none;
      }

      > input {
        background: transparent;
        border: none;
        outline: none;
        flex: 1;
        font-size: 0.875rem;
        color: #9a9a9a;

        &::placeholder {
          color: #9a9a9a;
        }
      }

      > span {
        margin-left: 0.3125rem;
      }
    }

    > .tips {
      font-size: 0.75rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 0.75rem;
      text-align: center;
      margin-top: 0.625rem;
    }

    > .is-need-receipt {
      display: flex;
      font-size: 0.875rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 1.25rem;
      justify-content: space-between;
      align-items: center;

      > .receipt-value {
        > div {
          width: 1.5625rem;
          height: 1.5625rem;
          background: url(../images/checkbox.png) no-repeat;
          background-size: 100% 100%;
          display: block;
        }

        > input {
          display: none;
        }

        > input:checked + div {
          background-image: url(../images/checkbox-cheched.png);
        }
      }
    }
  }

  .input-control {
    // background: url(../images/shujia.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 100%;
    padding: 1.125rem 1.5625rem 1.6875rem;

    > .required::after {
      content: ' *';
      color: #ff0000;
    }

    > .diymoney-label {
      display: block;
      width: 100%;
      height: 1rem;
      font-size: 0.875rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #606060;
      line-height: 1rem;

      &.receipt-hook {
        display: none;
      }
    }

    > .diymoeny-value {
      display: flex;
      width: 100%;
      padding: 0.6875rem 0;
      border-bottom: 0.0625rem solid #787880;
      font-size: 1.125rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;

      &.receipt-hook {
        display: none;
      }

      > input {
        background: transparent;
        border: none;
        outline: none;
        flex: 1;
        color: #9a9a9a;
        font-size: 0.875rem;

        &::placeholder {
          color: #9a9a9a;
        }
      }
    }

    > .tips {
      font-size: 0.75rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 0.75rem;
      text-align: center;
      margin-top: 0.625rem;
    }

    &.border10 {
      border-top: 0.3125rem solid #f0f2f4;
    }

    > .is-need-receipt {
      display: flex;
      font-size: 0.875rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: bold;
      color: #000000;
      line-height: 1.25rem;
      justify-content: space-between;
      align-items: center;

      > .receipt-value {
        > div {
          width: 1.5625rem;
          height: 1.5625rem;
          background: url(../images/checkbox.png);
          background-size: 100% 100%;
          display: block;
        }

        > input {
          display: none;
        }

        > input:checked + div {
          background-color: transparent;
          background-image: url(../images/checkbox-cheched.png);
        }
      }
    }

    .tip-message {
      width: 21.1875rem;
      background: #e6432f;
      font-size: 0.75rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 1.0625rem;
      box-sizing: border-box;
      padding: 0.5625rem 1.125rem;
      text-align: justify;
      border-radius: 0.375rem;
      margin-top: 1.25rem;
      position: relative;
      display: none;

      &::after {
        content: '';
        display: block;
        border-top: 0.9375rem solid transparent;
        border-left: 0.9375rem solid transparent;
        border-right: 0.9375rem solid transparent;
        border-bottom: 0.9375rem solid #e6432f;
        position: absolute;
        right: 0.6875rem;
        top: -1.7188rem;
      }
    }
  }

  .submit-text {
    width: 100%;
    height: 5.75rem;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    > button {
      width: 12.625rem;
      height: 2.875rem;
      background: #e6432f;
      border-radius: 1.5625rem;
      outline: none;
      border: none;
      color: #ffffff;
    }
  }
}

.error {
  color: #e6432f;
  white-space: nowrap;
  font-size: 0.875rem;
}
